/*preferens*/
.preferens {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.preferens__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
.preferens__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.preferens__title {
  color: $title-text-color;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}
.preferens__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-left: 15px;
  padding-right: 15px;
}
