.our-team {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.our-team__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}
.team-content {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: $primary-bgr-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }
}
.team-content__title {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}
.team-content__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.section--our-team {
  background-color: #f5f4fa;
}
