$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bgr-color: #ffffff;
$white-text: #ffffff;
$footer-background: #2f303a;
$card-set-gap: 30px;
$icon-color: #afb1b8;
$primary-text: Roboto, sans-serif;
